@media (min-width: 700px) {
  .form-multi-column .form-checkboxes {
    column-count: 2;
    column-gap: 1em;
  }

  .form-multi-column .form-type--boolean .form-boolean {
    float: none;
    margin-right: 0.5em;
  }
}
